/*HEAD*/
p {
    font: italic;
    box-sizing: border-box;
}
body {
    background-color: gray;
    background-image: url("../images/bats-pattern.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    background-color: black;
}
header {
    background: black;
    text-align: center;
    color: orange;
    border-bottom: 5px double orange; 
}
.page-title {
    font-family: 'Creepster', cursive, serif;
    font-size: 70px;
}
.carousel {
    margin: 50px auto;
}

#main {
    background: black;
}
.carousel-item img {
    max-height: 300px;
}
nav {
  border: 2px solid orange;  
}